<div class="col-md-9" role="main">
  <p>
    Hi! I'm Rebecca, and I'm an engineer. You can find more of my work <a href="https://rebeccamgreen.com">on my personal website.</a>
  </p>
  <p>
    This tool was originally written for the Swedish Kitchens class at Vavstuga. You can see the original version(s) and inspiration <a href="https://rebeccamgreen.com/vavstuga-warp-preview/">on my blog</a>. Many thanks to the ladies at Vavstuga for their encouragement and suggestions, and their patience!
  </p>
  <p>
    I hope this tool is useful for you! Any feedback, bug reports, or feature requests can be sent to me at <a href="mailto:ggggbbybby@gmail.com">ggggbbybby@gmail.com</a> or you can find me on ravelry <a href="http://www.ravelry.com/people/ggggbbybby">@ggggbbybby</a>.
  </p>
  <p>
    You are welcome to use this tool for your personal projects and feel free to send me pictures! I love to see people using the things I build. If you need to publish patterns, like for a class you're teaching, please let me know! I'd be happy to help you out.
  </p>
</div>