<h2>Public Patterns</h2>
<%= render 'pattern_table', patterns: @public_patterns %>

<% unless @personal_patterns.empty? %>
  <h2>My Patterns</h2>
  <%= render 'pattern_table', patterns: @personal_patterns %>
<% end %>

<br>

<% if can?(:create, Pattern) %>
  <%= link_to 'New Pattern', new_pattern_path %>
<% end %>
