<h2>Profile Drafts</h2>

<table>
    <% @drafts.each do |draft| %>
        <tr>
            <td><%= link_to (draft.name || "Draft ##{draft.id}"), draft_path(draft.id) %></td>
            <td><%= link_to 'Edit', edit_draft_path(draft.id) %></td>
            <td><%= link_to 'Destroy', draft_path(draft.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
    
<% if can?(:create, Draft) %>
  <%= link_to 'New Draft', new_draft_path %>
<% end %>
