<h2>yer a wizard harry</h2>

<main>
  <%= javascript_tag do %>
    window.draft = <%= @draft.to_json.html_safe %>
  <% end %>

  <%= render 'drawdown', draft: @draft, mode: :show %>
  <br/>
  <p>
    <a href="#" id="reset-defaults">
      Reset Default Colors
    </a>
  </p>

  <p>
    Click on one of the swatches below, then click on the color bars on the draft to change the color.
  </p>
  <div id="swatches">
  </div>
</main>

